body,
html {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  touch-action: manipulation;
}

html {
  font-size: 62.5%;
}

body.dark-mode {
  background-color: #333;
}
body.dark-mode #emblem-list {
  color: white;
  background-color: black;
}
body.dark-mode #emblem-list .list-header {
  background-color: black;
  color: white;
}
body.dark-mode #emblem-list .emblem-list-box {
  background-color: #535353;
}
body.dark-mode #emblem-list .emblem-list-box .emblem-btn {
  background-color: #353434;
  color: white;
}
body.dark-mode #panel {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
  color: white;
}
@media (max-width: 1200px) {
  body.dark-mode #panel {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  }
}
body.dark-mode .title-box {
  background-color: rgba(0, 0, 0, 0.631372549);
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
}
body.dark-mode .title-box .title {
  color: white;
}
body.dark-mode .title-box p {
  color: white;
}
body.dark-mode .title-box p a {
  color: rgb(219, 166, 166);
}
body.dark-mode .text-box {
  background-color: black;
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
  color: white;
}
body.dark-mode .street-heading {
  background-color: #494949;
}
body.dark-mode .form-box {
  background-color: #474747;
  color: #ffffff;
}
body.dark-mode .form-box .form-name input,
body.dark-mode .form-box .form-email input {
  color: #ffffff;
  background-color: #6d6d6d;
}
body.dark-mode .form-box textarea {
  color: #ffffff;
  background-color: #6d6d6d;
}

.night {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.night.visible {
  opacity: 1;
}

.night.hidden {
  opacity: 0;
}

.info-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  z-index: 9999;
  overflow: scroll;
}
.info-panel h1 {
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
}
.info-panel p {
  margin: 1rem;
  text-align: center;
}
.info-panel .info-panel-text {
  max-width: 30%;
}
@media (max-width: 800px) {
  .info-panel .info-panel-text {
    max-width: 100%;
  }
}
.info-panel button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.info-panel button:hover {
  background-color: #a5a3a3;
}

.info-panel.hidden {
  display: none;
}

#emblem-list {
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  width: 15rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#emblem-list .list-header {
  position: sticky;
  width: 84%;
  top: 0;
  background: #fff;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
#emblem-list .list-header .search-wrapper {
  margin: 1rem 0;
}
#emblem-list .list-header .search-wrapper input {
  width: 84%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
#emblem-list .list-header .sort-option .street-heading {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.2rem;
  margin-top: 0.5rem;
  background-color: #f0f0f0;
  color: #333;
}
#emblem-list .emblem-list-box .emblem-btn {
  width: 100%;
  height: 5vh;
  margin: 0.4rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
#emblem-list .emblem-list-box .emblem-btn .emblem-btn-symbol {
  position: relative;
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#emblem-list .emblem-list-box .emblem-btn .emblem-btn-name {
  flex-grow: 1;
  font-size: 1.3rem;
}
#emblem-list .emblem-list-box .emblem-btn:hover {
  background-color: #f5f5f5;
}
#emblem-list .emblem-list-box .emblem-btn.active {
  border: 2px solid rgb(247, 172, 172);
  background-color: #faebec;
}

.street-heading {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: #ddd;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.3s;
}
.street-heading:hover {
  background: #757474;
  color: white;
}
.street-heading .arrow-icon {
  font-weight: bold;
  font-size: 1.2rem;
  width: 1rem;
  display: inline-block;
  transition: transform 0.2s ease;
}

.street-list {
  overflow: hidden;
  transition: max-height 0.8s ease, padding 0.3s ease;
}
.street-list.hidden {
  max-height: 0;
  padding: 0;
}

#burger-btn {
  display: none;
}

.locate-btn {
  background: white;
  border: 2px solid rgba(97, 97, 97, 0.76);
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0.5rem 0.7rem;
  font-size: 1.5rem;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1100;
}
.locate-btn img {
  width: 2rem;
}

.locate-btn:hover {
  background: #ececec;
}

#map {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 15rem;
  margin-left: 4rem;
  width: 70vw;
  border-radius: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.leaflet-tooltip {
  font-size: 1.1rem;
  font-family: inherit;
  line-height: 1.2;
}

#panel {
  position: fixed;
  right: 2rem;
  top: 12rem;
  width: 15vw;
  height: 82vh;
  float: right;
  padding: 2rem;
  padding-bottom: 120rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #f7f7f7;
  overflow-y: auto;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translateX(100%);
  opacity: 0;
  z-index: 1000;
}
#panel .image-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panel .img-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#panel .img-wrapper img.carousel-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
#panel .img-author {
  font-size: 1.1rem;
  color: #777676;
}
#panel .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  z-index: 2;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panel .arrow.left {
  left: 0;
  border-radius: 8px 0 0 8px;
}
#panel .arrow.right {
  right: 0;
  border-radius: 0 8px 8px 0;
}
#panel .arrow:hover {
  background: rgba(255, 255, 255, 0.445);
}
#panel h2 {
  font-size: 2rem;
}
#panel p {
  font-size: 1.6rem;
}
#panel .panel-descr {
  text-align: justify;
  margin-bottom: 3rem;
}
#panel button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
#panel button:hover {
  background-color: #a7a7a7;
}
#panel #close-btn {
  margin-bottom: 4rem;
}
#panel .panel-btn-big {
  padding: 1rem 3rem;
  cursor: pointer;
}
#panel .panel-btn-big a {
  background-color: black;
}
#panel .panel-btn {
  padding: 0.5rem;
}
#panel .panel-btn-box {
  display: flex;
  justify-content: center;
  margin: 1rem;
  display: flex;
}
#panel .author {
  font-size: 1rem;
  color: #838383;
}
#panel a {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  color: rgb(1, 1, 78);
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.4s ease;
}
#panel a img {
  position: relative;
  height: 1.7rem;
}
#panel a #nav-link {
  font-size: 1.4rem;
}
#panel a:visited {
  color: rgb(1, 1, 78);
}
#panel a:hover {
  background-color: #838383;
}

#panel.aktywny {
  transform: translateX(0);
  opacity: 1;
}

.title-box {
  position: fixed;
  top: 1rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  width: 17vw;
  height: 10vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #e9e8e8;
  z-index: 1000;
}
.title-box .title {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}
.title-box p {
  position: relative;
  top: -2rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}
.title-box p a {
  margin: 0 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fa9600;
}

.text-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 12rem;
  right: 2rem;
  margin: 1rem 0;
  width: 17vw;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 1.5rem;
  z-index: 900;
}
.text-box p {
  padding: 1.2rem;
  text-align: justify;
}
.text-box a {
  text-align: start;
  margin-left: 1rem;
  font-style: italic;
  font-size: 1.3rem;
}
.text-box #reference {
  padding-left: 1.2rem;
  text-align: justify;
  font-size: 1.3rem;
  color: #575757;
}
.text-box #reference span {
  font-style: italic;
}

.layers-list {
  position: fixed;
  display: none;
  right: 1rem;
  bottom: 7rem;
  width: 20dvw;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  transform: translateX(0%);
  transition: transform 1s ease;
  z-index: 2000;
  opacity: 0.8;
}
.layers-list .layers-list-btn {
  padding: 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  transition: color 0.4s ease;
  cursor: pointer;
}
.layers-list #third-military-survey {
  background-color: #474747;
}
.layers-list #second-military-survey {
  background-color: #af2424;
}
.layers-list #first-military-survey {
  background-color: #df8888;
}
.layers-list .layers-list-btn:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 800px) {
  .layers-list {
    width: 50dvw;
  }
  .layers-list p {
    font-size: 1rem;
  }
}
.layers-list.aktywny {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
  opacity: 1;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 1500;
}
.form-box .form-name,
.form-box .form-email,
.form-box .form-msg {
  position: relative;
  display: grid;
  margin: 10px;
}
.form-box .form-name input,
.form-box .form-email input,
.form-box .form-msg input {
  width: 300px;
  padding: 10px;
  border: 1px, solid black;
  border-radius: 2px;
}
.form-box .form-name label,
.form-box .form-email label,
.form-box .form-msg label {
  margin: 5px 0;
  font-size: 1.2rem;
}
.form-box .form-title {
  font-size: 1.5rem;
}
.form-box textarea {
  padding: 10px;
  max-width: 300px;
  min-width: 300px;
  height: 100px;
}
.form-box .form-checkbox {
  max-width: 300px;
  padding: 10px;
  margin: 10px;
}
.form-box .form-checkbox label {
  font-size: 1.2rem;
}
.form-box .form-send-btn input {
  position: relative;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.5s ease;
  cursor: pointer;
}
.form-box .form-send-btn input:hover {
  background-color: #c0c0c0;
}

.active {
  display: block;
}

.button-box {
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  display: flex;
  gap: 1rem;
  z-index: 1500;
}
.button-box .layers-btn {
  display: none;
  align-items: center;
  padding: 0.5rem;
  background: #b1b39b;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.5s ease;
  z-index: 1500;
  max-width: 90vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: none;
  cursor: pointer;
}
.button-box .layers-btn:hover {
  background-color: #e4e2e2;
}
.button-box .theme-btn {
  max-width: 90vw;
  padding: 1rem 2rem;
  gap: 0.5rem;
  background: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 21px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.5s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1100;
  color: rgb(0, 0, 0);
  align-items: center;
  padding: 1rem 2rem;
  gap: 0.5rem;
  transform: none;
}
.button-box .theme-btn:hover {
  background: #b4b4b4;
}
.button-box .game-btn {
  display: none;
  align-items: center;
  padding: 0.5rem;
  background: #35a800;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.5s ease;
  z-index: 1500;
  max-width: 90vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: none;
  cursor: pointer;
}
.button-box .game-btn:hover {
  background-color: #9ffa27;
}
.button-box .error-btn {
  align-items: center;
  padding: 0.5rem;
  background: #e41d1d;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.5s ease;
  z-index: 1500;
  max-width: 90vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: none;
  cursor: pointer;
}
.button-box .error-btn:hover {
  background: #f39494;
}
.button-box #lang-btn {
  align-items: center;
  padding: 1rem;
  background: rgb(51, 51, 245);
  border: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.5s ease;
  z-index: 1500;
  max-width: 90vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: none;
  cursor: pointer;
}
.button-box #lang-btn:hover {
  background: #bcbdf7;
}

@media (max-width: 1510px) {
  #panel {
    width: 25vw;
  }
  .title-box {
    width: 20vw;
  }
  .title-box .title {
    font-size: 1.2rem;
  }
  .text-box {
    width: 20vw;
    font-size: 1.3rem;
  }
}
@media (max-width: 1200px) {
  #map {
    position: absolute;
    height: 100dvh;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0.2rem;
  }
  #emblem-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  #emblem-list .list-header {
    background: black;
    color: white;
  }
  #emblem-list .emblem-list-box {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
  #emblem-list .emblem-list-box .emblem-btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
  #emblem-list .emblem-list-box .emblem-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
  }
  #emblem-list .emblem-list-box .emblem-btn.active {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    border: 1px solid white;
  }
  #emblem-list.active {
    transform: translateX(0);
  }
  .title-box {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
  }
  .title-box .title {
    justify-content: center;
    text-align: center;
  }
  .text-box {
    display: none;
  }
  #panel {
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 30vw;
    max-height: 75vh;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 1001;
    overflow-y: auto;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 5000;
  }
  #burger-btn {
    position: fixed;
    bottom: 10vh;
    right: 3vh;
    width: 8vh;
    height: 8vh;
    display: block;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    text-decoration: none;
    cursor: pointer;
    z-index: 1500;
  }
  .burger-btn {
    position: relative;
    height: 3rem;
    top: 0.2rem;
  }
  .street-heading {
    background-color: #494949;
  }
}
@media (max-width: 992px) {
  #emblem-list {
    width: 25vw;
    height: 100dvh;
  }
  #panel {
    width: 40%;
    max-height: 75vh;
  }
}
@media (max-width: 768px) {
  #emblem-list {
    width: 30vw;
    height: 100dvh;
  }
  .title-box .title {
    font-size: 1.2rem;
  }
  #panel {
    width: 50vw;
    max-height: 75vh;
  }
  #burger-btn {
    position: fixed;
    bottom: 5vh;
    right: 3dvh;
    width: 8vh;
    height: 8vh;
  }
  .burger-btn {
    height: 3rem;
  }
}
@media (max-width: 562px) {
  #map {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.2rem;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    contain: layout size;
  }
  #emblem-list {
    width: 40vw;
    height: 100dvh;
  }
  .title-box {
    max-width: 90vw;
  }
  .title-box .title {
    font-size: 1.3rem;
  }
  #panel {
    width: 60vw;
    max-height: 75vh;
  }
  #burger-btn {
    position: fixed;
    bottom: 9dvh;
    right: 3dvh;
    width: 8vh;
    height: 8vh;
  }
  .burger-btn {
    position: relative;
    height: 3rem;
    top: 2px;
  }
}
@media (orientation: landscape) and (max-width: 768px) {
  #panel {
    top: 0;
    width: 40vw;
    max-height: 75vh;
  }
  #emblem-list {
    width: 30vw;
    height: 100dvh;
  }
  #emblem-list .list-header {
    font-size: 0.9rem;
  }
  #emblem-list .list-header h2 {
    font-size: 1.2rem;
  }
  #burger-btn {
    position: fixed;
    bottom: 19dvh;
    right: 3dvh;
    width: 18vh;
    height: 18vh;
  }
}/*# sourceMappingURL=style.css.map */