body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow-x: hidden;
}

#emblem-list {
	position: relative;
	top: 105px;
	bottom: 10px;
	left: 10px;
	.emblem-box {
		width: 120px;
		margin: 2px;
		padding: 5px 10px;
		border: 1px solid lightgray;
		border-radius: 5px;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		font-size: 14px;
		cursor: pointer;
		.emblem-box-symbol {
			width: 50px;
		}
		.emblem-box-name {
			width: 100%;
		}
	}
}

#map {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 100px;
	margin-left: 40px;
	width: 70vw;
	border-radius: 15px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

#panel {
	position: absolute;
	right: 200px;
	bottom: 10px;
	width: 15vw;
	height: 82vh;
	float: right;
	padding: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	background-color: #f7f7f7;
	overflow-y: auto;

	transition: transform 0.4s ease, opacity 0.4s ease;
	transform: translateX(100%);
	opacity: 0;
	z-index: 1000;
	button {
		width: 50%;
		height: 5%;
		justify-content: center;
		border: none;
		border-radius: 5px;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}
}

#panel.aktywny {
	transform: translateX(0);
	opacity: 1;
}

.title-box {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 27vw;
	height: 10%;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	background-color: #c8ebe5;
	z-index: 1000;
	.title {
		top: 10px;
		position: relative;
		justify-content: center;
		text-align: center;
	}
}
.text-box {
	position: absolute;
	top: 120px;
	right: 200px;
	width: 17vw;
	height: 20%;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	background-color: #f7f7f7;
	p {
		padding: 10px;
		text-align: center;
	}
}
