@mixin btn-style {
	max-width: 90vw;
	padding: 1rem 2rem;
	gap: 0.5rem;
	background: #fff;
	font-size: 1rem;
	border: none;
	border-radius: 21px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	transition: background 0.5s ease;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	z-index: 1100;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	touch-action: manipulation;
}

html {
	font-size: 62.5%;
}

//tryb nocny

body.dark-mode {
	background-color: #333;
	#emblem-list {
		color: white;
		background-color: black;
		.list-header {
			background-color: black;
			color: white;
		}
		.emblem-list-box {
			background-color: #535353;

			.emblem-btn {
				background-color: #353434;
				color: white;
			}
		}
	}
	#panel {
		background-color: rgba(0, 0, 0);
		box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
		color: white;
	}
	@media (max-width: 1200px) {
		#panel {
			background: rgba($color: #000000, $alpha: 0.7);

			box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
		}
	}

	.title-box {
		background-color: #000000a1;
		box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
		.title {
			color: white;
		}
		p {
			color: white;
			a {
				color: rgb(219, 166, 166);
			}
		}
	}
	.text-box {
		background-color: black;
		box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
		color: white;
	}
	.street-heading {
		background-color: #494949;
	}
	.form-box {
		background-color: #474747;
		color: #ffffff;
		.form-name,
		.form-email {
			input {
				color: #ffffff;
				background-color: #6d6d6d;
			}
		}
		textarea {
			color: #ffffff;
			background-color: #6d6d6d;
		}
	}
}

.night {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba($color: #000000, $alpha: 0.3);
	z-index: 1001;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.night.visible {
	opacity: 1;
}

.night.hidden {
	opacity: 0;
}

//info panel
.info-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 2rem;
	z-index: 9999;
	overflow: scroll;
	h1{
		font-size: 2rem;
		text-align: center;
		line-height: 2.5rem;
	}
	p{
		
		margin: 1rem;
		text-align: center;
	}
	button{	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem;
		width: fit-content;
		padding: 1rem 3rem;
		height: fit-content;
		justify-content: center;
		border: none;
		border-radius: 5px;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		font-weight: bold;
		cursor: pointer;
		transition: background-color 0.4s ease;
	}
	button:hover{
		background-color: #a5a3a3;
	}
}

.info-panel.hidden{
	display: none;
}

//lista

#emblem-list {
	position: fixed;
	top: 1rem;
	bottom: 1rem;
	left: 1rem;
	width: 15rem;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	background: rgb(255, 255, 255);
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	.list-header {
		position: sticky;
		width: 84%;
		top: 0;
		background: #fff;
		padding: 1rem;
		font-size: 1.4rem;
		text-align: center;
		border: 2px solid #ccc;
		border-radius: 5px;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		z-index: 10;

		.search-wrapper {
			margin: 1rem 0;
			input {
				width: 84%;
				padding: 0.5rem;
				border: 1px solid rgba($color: #000000, $alpha: 0.1);
				border-radius: 5px;
				box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
			}
		}

		.sort-option {
			.street-heading {
				font-size: 1rem;
				font-weight: bold;
				padding: 0.5rem 0.5rem 0.2rem;
				margin-top: 0.5rem;
				background-color: #f0f0f0;
				color: #333;
			}
		}
	}
	.emblem-list-box {
		.emblem-btn {
			width: 100%;
			height: 5vh;
			margin: 0.4rem 0;
			padding: 0.5rem 1rem;
			border: 1px solid lightgray;
			border-radius: 5px;
			box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
			font-size: 1rem;
			display: flex;
			align-items: center;
			gap: 0.8rem;
			cursor: pointer;

			.emblem-btn-symbol {
				position: relative;
				display: flex;
				align-items: center;
				width: 4rem;
				height: 4rem;
				object-fit: contain;
			}
			.emblem-btn-name {
				flex-grow: 1;
				font-size: 1.3rem;
			}
		}
		.emblem-btn:hover {
			background-color: #f5f5f5;
		}
		.emblem-btn.active {
			border: 2px solid rgb(247, 172, 172);
			background-color: #faebec;
		}
	}
}

// lista ulic
.street-heading {
	cursor: pointer;
	padding: 0.5rem 1rem;
	background: #ddd;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: background 0.3s;

	&:hover {
		background: #757474;
		color: white;
	}

	.arrow-icon {
		font-weight: bold;
		font-size: 1.2rem;
		width: 1rem;
		display: inline-block;
		transition: transform 0.2s ease;
	}
}

.street-list {
	overflow: hidden;
	transition: max-height 0.8s ease, padding 0.3s ease;

	&.hidden {
		max-height: 0;
		padding: 0;
	}
}

#burger-btn {
	display: none;
}

//geolokalizacja przycisk
.locate-btn {
	background: white;
	border: 2px solid rgba(97, 97, 97, 0.76);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	padding: 0.5rem 0.7rem;
	font-size: 1.5rem;
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	z-index: 1100;
	img {
		width: 2rem;
	}
}
.locate-btn:hover {
	background: #ececec;
}

//mapa

#map {
	position: absolute;
	top: 1rem;
	bottom: 1rem;
	left: 15rem;
	margin-left: 4rem;
	width: 70vw;
	border-radius: 15px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.leaflet-tooltip {
	font-size: 1.1rem;
	font-family: inherit;
	line-height: 1.2;
}

//panel

#panel {
	position: fixed;
	right: 2rem;
	top: 12rem;
	width: 15vw;
	height: 82vh;
	float: right;
	padding: 2rem;
	padding-bottom: 120rem;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	background-color: #f7f7f7;
	overflow-y: auto;
	transition: transform 0.4s ease, opacity 0.4s ease;
	transform: translateX(100%);
	opacity: 0;
	z-index: 1000;
	.image-carousel {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.img-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		img.carousel-img {
			width: 100%;
			height: auto;
			border-radius: 8px;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
		}
	}
	.img-author {
		font-size: 1.1rem;
		color: #777676;
	}

	.arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 0.5rem;
		height: 100%;
		background: none;
		border: none;
		cursor: pointer;
		font-size: 2rem;
		z-index: 2;
		transition: background 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.arrow.left {
		left: 0;
		border-radius: 8px 0 0 8px;
	}

	.arrow.right {
		right: 0;
		border-radius: 0 8px 8px 0;
	}

	.arrow:hover {
		background: rgba(255, 255, 255, 0.445);
	}

	h2 {
		font-size: 2rem;
	}
	p {
		font-size: 1.6rem;
	}
	button {
		//position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 5rem;
		width: fit-content;
		padding: 1rem 3rem;
		height: fit-content;
		justify-content: center;
		border: none;
		border-radius: 5px;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		font-weight: bold;
		cursor: pointer;
		transition: background-color 0.4s ease;
	}
	button:hover {
		background-color: #a7a7a7;
	}
	.author {
		font-size: 1rem;
		color: #838383;
	}

	a {
		display: flex;
		width: fit-content;
		align-items: center;
		gap: 1rem;
		padding: 1rem 2rem;
		border: none;
		border-radius: 5px;
		background-color: white;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		color: rgb(1, 1, 78);
		font-weight: bold;
		text-decoration: none;
		transition: background-color 0.4s ease;
		img {
			position: relative;
			height: 1.7rem;
		}
		#nav-link {
			font-size: 1.4rem;
		}
	}
	a:visited {
		color: rgb(1, 1, 78);
	}
	a:hover {
		background-color: #a2a1f8;
	}
}

#panel.aktywny {
	transform: translateX(0);
	opacity: 1;
}

//tytuł i opis

.title-box {
	position: fixed;
	top: 1rem;
	right: 2rem;
	padding: 0.5rem 1rem;
	width: 17vw;
	height: 10vh;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #e9e8e8;
	z-index: 1000;
	.title {
		position: relative;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		font-size: 1.5rem;
	}
	p {
		position: relative;
		top: -2rem;
		display: flex;
		justify-content: center;
		
		font-size: 1.3rem;
		a {
			margin: 0 1rem;
			font-size: 1.4rem;
			//text-decoration: none;
			font-weight: bold;
			color: #fa9600;
		}
	}
}

.text-box {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 12rem;
	right: 2rem;
	margin: 1rem 0;
	width: 17vw;
	height: fit-content;
	line-height: 2rem;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #f7f7f7;
	font-size: 1.5rem;
	z-index: 900;
	p {
		padding: 1.2rem;
		text-align: justify;
	}
	a {
		text-align: start;
		margin-left: 1rem;
		font-style: italic;
		font-size: 1.3rem;
	}
	#reference{
		padding-left: 1.2rem;
		text-align: justify;
		font-size: 1.3rem;
		color: #575757;
		span{
			font-style: italic;
		}
	}
}

//formularz błędu

.form-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	z-index: 1500;

	.form-name,
	.form-email,
	.form-msg {
		position: relative;
		display: grid;
		margin: 10px;
		input {
			width: 300px;
			padding: 10px;
			border: 1px, solid black;
			border-radius: 2px;
		}
		label {
			margin: 5px 0;
			font-size: 1.2rem;
		}
	}
	.form-title {
		font-size: 1.5rem;
	}

	textarea {
		padding: 10px;
		max-width: 300px;
		min-width: 300px;
		height: 100px;
	}
	.form-checkbox {
		max-width: 300px;
		padding: 10px;
		margin: 10px;
		label {
			font-size: 1.2rem;
		}
	}

	.form-send-btn {
		input {
			position: relative;
			left: 50%;
			bottom: 10%;
			transform: translate(-50%);
			padding: 1rem 2rem;
			border: none;
			border-radius: 3px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
			transition: background 0.5s ease;
			cursor: pointer;
		}
		input:hover {
			background-color: #c0c0c0;
		}
	}
}

.active {
	display: block;
	//display: none;
}

// przyciski

.button-box {
	position: fixed;
	bottom: 2vh;
	right: 1vw;
	display: flex;
	gap: 1rem;
	z-index: 1500;

	.theme-btn {
		@include btn-style;

		color: rgb(0, 0, 0);
		align-items: center;
		padding: 1rem 2rem;
		gap: 0.5rem;
		transform: none;
	}

	.theme-btn:hover {
		background: #b4b4b4;
	}
	.game-btn {
		display: none;
		align-items: center;
		padding: 0.5rem;
		background: #35a800;
		border: none;
		border-radius: 20px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
		transition: background 0.5s ease;
		z-index: 1500;
		max-width: 90vw;
		text-overflow: ellipsis;
		white-space: nowrap;
		transform: none;
		cursor: pointer;
	}

	.game-btn:hover {
		background-color: #9ffa27;
	}

	.error-btn {
		align-items: center;
		padding: 0.5rem;
		background: #e41d1d;
		border: none;
		border-radius: 50%;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
		transition: background 0.5s ease;
		z-index: 1500;
		max-width: 90vw;
		text-overflow: ellipsis;
		white-space: nowrap;
		transform: none;
		cursor: pointer;
	}

	.error-btn:hover {
		background: #f39494;
	}

	#lang-btn {
		//display: none;
		align-items: center;
		padding: 1rem;
		background: rgb(51, 51, 245);
		border: none;
		border-radius: 50%;
		color: rgb(255, 255, 255);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
		transition: background 0.5s ease;
		z-index: 1500;
		max-width: 90vw;
		text-overflow: ellipsis;
		white-space: nowrap;
		transform: none;
		cursor: pointer;
	}

	#lang-btn:hover {
		background: #bcbdf7;
	}
}

// gra dla młodszych

// media
@media (max-width: 1510px) {
	#panel {
		width: 25vw;
	}
	.title-box {
		width: 20vw;
		.title {
			font-size: 1.2rem;
		}
	}
	.text-box {
		width: 20vw;
		font-size: 1.3rem;
	}
}

@media (max-width: 1200px) {
	#map {
		position: absolute;
		height: 100dvh;
		width: 100vw;
		top: 0;
		left: 0;
		margin: 0.2rem;
	}
	#emblem-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 20vw;
		height: 100vh;
		background: rgba($color: #000000, $alpha: 0.5);
		color: white;
		box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
		z-index: 1000;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
		.list-header {
			background: black;
			color: white;
		}
		.emblem-list-box {
			background: rgba($color: #000000, $alpha: 0.5);
			color: white;
			.emblem-btn {
				background: rgba($color: #000000, $alpha: 0.5);
				color: white;
			}
			.emblem-btn:hover {
				background-color: rgba($color: #ffffff, $alpha: 0.7);
				color: #000;
			}
			.emblem-btn.active {
				background-color: rgba($color: #ffffff, $alpha: 0.7);
				color: #000;
				border: 1px solid white;
			}
		}
	}

	#emblem-list.active {
		transform: translateX(0);
	}

	.title-box {
		width: fit-content;
		height: fit-content;
		right: 1rem;
		top: 1rem;
		padding: 0.5rem 1rem;
		background: rgba($color: #000000, $alpha: 0.7);
		color: white;
		.title {
			justify-content: center;
			text-align: center;
		}
	}
	.text-box {
		display: none;
	}

	#panel {
		position: absolute;
		bottom: 2rem;
		right: 0;
		width: 30vw;
		max-height: 75vh;
		background: rgba($color: #000000, $alpha: 0.7);
		color: white;
		z-index: 1001;
		overflow-y: auto;
		box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
		border-radius: 12px;
		z-index: 5000;
	}
	#burger-btn {
		position: fixed;
		bottom: 10vh;
		right: 3vh;
		width: 8vh;
		height: 8vh;
		display: block;
		border: 1px solid gray;
		border-radius: 50%;
		box-shadow: 1px 1px 5px black;
		text-decoration: none;
		cursor: pointer;
		z-index: 1500;
	}

	.burger-btn {
		position: relative;
		height: 3rem;
		top: 0.2rem;
	}
	.street-heading {
		background-color: #494949;
	}
}

@media (max-width: 992px) {
	#emblem-list {
		width: 25vw;
		height: 100dvh;
	}
	#panel {
		width: 40%;
		max-height: 75vh;
	}
}

@media (max-width: 768px) {
	#emblem-list {
		width: 30vw;
		height: 100dvh;
	}

	.title-box {
		.title {
			font-size: 1.2rem;
		}
	}

	#panel {
		width: 50vw;
		max-height: 75vh;
	}
	#burger-btn {
		position: fixed;
		bottom: 5vh;
		right: 3dvh;
		width: 8vh;
		height: 8vh;
	}

	.burger-btn {
		height: 3rem;
	}
}

@media (max-width: 562px) {
	#map {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0.2rem;
		width: 100vw;
		height: 100dvh;
		overflow: hidden;
		contain: layout size;
	}
	#emblem-list {
		width: 40vw;
		height: 100dvh;
	}

	.title-box {
		max-width: 90vw;

		.title {
			font-size: 1.3rem;
		}
	}

	#panel {
		width: 60vw;
		max-height: 75vh;
	}
	#burger-btn {
		position: fixed;
		bottom: 9dvh;
		right: 3dvh;
		width: 8vh;
		height: 8vh;
	}

	.burger-btn {
		position: relative;
		height: 3rem;
		top: 2px;
	}
}

@media (orientation: landscape) and (max-width: 768px) {
	#panel {
		top: 0;
		width: 40vw;
		max-height: 75vh;
	}
	#emblem-list {
		width: 30vw;
		height: 100dvh;
		.list-header {
			font-size: 0.9rem;
			h2 {
				font-size: 1.2rem;
			}
		}
	}
	#burger-btn {
		position: fixed;
		bottom: 19dvh;
		right: 3dvh;
		width: 18vh;
		height: 18vh;
	}
}
